/*MIXIN*/

@mixin fontSize ($tamanio,$peso,$color) {
    font-size: $tamanio;
    font-weight: $peso;
    color: $color;

}

.letraChica {
    @include fontSize(25px,900,violet);

}

.letraMediana {
    @include fontSize(30px,80,rgb(129, 18, 18) )
}

.letraGrande {
    @include fontSize(35px,700,rgb(9, 9, 71) )
}

.letra {
    @include fontSize(40px,600, none);
    color: red;
}